body {
  background-color: rgba(230, 215, 14, 0.774) 118, 0);
}

#título {
  font-size: 80px;
  text-align: center;
  color: rgb(6, 116, 6);

} 
header {
  padding: 20px;
  background-color: rgb(197, 21, 174);
  border-bottom: 5px solid;
  font-size: 35px;
  color:black;
}

.texto {
  font-size: 50px;
  text-align: justify;
  color: rgb(16, 5, 26);
  
}
.listas1 {
  font-size: 30px;
  text-align: center;
  list-style-position: inside;
}